@model VoTrongHung2280601119.Models.Warehouse

@{
    ViewData["Title"] = "Xóa Kho";
    // Layout sẽ được áp dụng từ _ViewStart.cshtml của Admin Area
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc muốn xóa kho này không?</h3>
<div>
    <h4>Thông tin Kho:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Tên:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Địa chỉ:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-3">
            Sức chứa:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
    </form>
</div>