@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ứng dụng này hiện chưa có một dịch vụ gửi email thực sự được cấu hình.
            Thông thường, bạn sẽ nhận được một email chứa link xác nhận.
            Để thử nghiệm, bạn có thể nhấn vào link sau để xác nhận tài khoản:
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Nhấn vào đây để xác nhận tài khoản của bạn</a>
        </p>
    }
    else
    {
        <p>
            Đăng ký thành công. Vui lòng kiểm tra hộp thư email của bạn để xác nhận tài khoản.
        </p>
    }
}
