@model T3_VoTrongHung_2280601119.Models.Category

<h2>S?a Danh M?c</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Name">Tên Danh M?c</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">L?u</button>
    <a asp-action="Index" class="btn btn-secondary">H?y</a>
</form>